.ch-button {
  appearance: none;
  color: inherit;
  text-rendering: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  font: inherit;
  text-transform: none;
  cursor: pointer;
  background: 0 0;
  border-style: none;
  outline: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}
.ch-button:focus {
  outline: none;
}
.ch-button:disabled,
.ch-button[aria-disabled]:not([aria-disabled="false"]) {
  cursor: default;
}
.ch-button {
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  color: var(--charcoal-text2);
  background-color: var(--charcoal-surface3);
  border-radius: 999999px;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  transition:
    color 0.2s,
    background-color 0.2s,
    box-shadow 0.2s;
  display: inline-grid;
}
.ch-button:hover:not(:disabled):not([aria-disabled]),
.ch-button:hover[aria-disabled="false"] {
  color: var(--charcoal-text2-hover);
}
.ch-button:active:not(:disabled):not([aria-disabled]),
.ch-button:active[aria-disabled="false"] {
  color: var(--charcoal-text2-press);
}
.ch-button:hover:not(:disabled):not([aria-disabled]),
.ch-button:hover[aria-disabled="false"] {
  background-color: var(--charcoal-surface3-hover);
}
.ch-button:active:not(:disabled):not([aria-disabled]),
.ch-button:active[aria-disabled="false"] {
  background-color: var(--charcoal-surface3-press);
}
.ch-button:disabled,
.ch-button[aria-disabled]:not([aria-disabled="false"]) {
  opacity: 0.32;
}
.ch-button:not(:disabled):not([aria-disabled]):focus,
.ch-button[aria-disabled="false"]:focus,
.ch-button:not(:disabled):not([aria-disabled]):active,
.ch-button[aria-disabled="false"]:active {
  outline: none;
  box-shadow: 0 0 0 4px #0096fa52;
}
.ch-button:not(:disabled):not([aria-disabled]):focus:not(:focus-visible),
.ch-button[aria-disabled="false"]:focus:not(:focus-visible),
.ch-button:not(:disabled):not([aria-disabled]):active:not(:focus-visible),
.ch-button[aria-disabled="false"]:active:not(:focus-visible) {
  outline: none;
}
.ch-button:not(:disabled):not([aria-disabled]):focus-visible,
.ch-button[aria-disabled="false"]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px #0096fa52;
}
.ch-button.overlay {
  color: var(--charcoal-text5);
  background-color: var(--charcoal-surface4);
}
.ch-button.overlay:hover:not(:disabled):not([aria-disabled]),
.ch-button.overlay:hover[aria-disabled="false"] {
  color: var(--charcoal-text5-hover);
}
.ch-button.overlay:hover:not(:disabled):not([aria-disabled]),
.ch-button.overlay:hover[aria-disabled="false"] {
  background-color: var(--charcoal-surface4-hover);
}
.ch-button.primary {
  color: var(--charcoal-text5);
  background-color: var(--charcoal-brand);
}
.ch-button.primary:hover:not(:disabled):not([aria-disabled]),
.ch-button.primary:hover[aria-disabled="false"] {
  color: var(--charcoal-text5-hover);
}
.ch-button.primary:hover:not(:disabled):not([aria-disabled]),
.ch-button.primary:hover[aria-disabled="false"] {
  background-color: var(--charcoal-brand-hover);
}
.ch-button.danger {
  color: var(--charcoal-text5);
  background-color: var(--charcoal-assertive);
}
.ch-button.danger:hover:not(:disabled):not([aria-disabled]),
.ch-button.danger:hover[aria-disabled="false"] {
  color: var(--charcoal-text5-hover);
}
.ch-button.danger:hover:not(:disabled):not([aria-disabled]),
.ch-button.danger:hover[aria-disabled="false"] {
  background-color: var(--charcoal-assertive-hover);
}
.ch-button.navigation {
  color: var(--charcoal-text5);
  background-color: var(--charcoal-surface6);
}
.ch-button.navigation:hover:not(:disabled):not([aria-disabled]),
.ch-button.navigation:hover[aria-disabled="false"] {
  color: var(--charcoal-text5-hover);
}
.ch-button.navigation:hover:not(:disabled):not([aria-disabled]),
.ch-button.navigation:hover[aria-disabled="false"] {
  background-color: var(--charcoal-surface6-hover);
}
.ch-button.fullwidth {
  width: -webkit-fill-available;
}
.ch-button.size-s {
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
