.ch-checkbox {
  cursor: pointer;
  gap: 4px;
  display: flex;
  position: relative;
}
.ch-checkbox:disabled,
.ch-checkbox[aria-disabled]:not([aria-disabled="false"]) {
  cursor: default;
  opacity: 0.32;
}
.ch-checkbox-input-container {
  position: relative;
}
.ch-checkbox-input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin: 0;
  transition:
    box-shadow 0.2s,
    background-color 0.2s;
  display: block;
}
.ch-checkbox-input[type="checkbox"]:checked {
  background-color: var(--charcoal-brand);
}
.ch-checkbox-input[type="checkbox"]:checked:not(:disabled):not(
    [aria-disabled]
  ):hover,
.ch-checkbox-input[type="checkbox"]:checked[aria-disabled="false"]:hover {
  background-color: var(--charcoal-brand-hover);
}
.ch-checkbox-input[type="checkbox"]:checked:not(:disabled):not(
    [aria-disabled]
  ):active,
.ch-checkbox-input[type="checkbox"]:checked[aria-disabled="false"]:active {
  background-color: var(--charcoal-brand-press);
}
.ch-checkbox-input[type="checkbox"]:not(:disabled):not([aria-disabled]):focus,
.ch-checkbox-input[type="checkbox"][aria-disabled="false"]:focus {
  outline: none;
  box-shadow: 0 0 0 4px #0096fa52;
}
.ch-checkbox-input[type="checkbox"]:not(:disabled):not(
    [aria-disabled]
  ):focus:not(:focus-visible),
.ch-checkbox-input[type="checkbox"][aria-disabled="false"]:focus:not(
    :focus-visible
  ) {
  box-shadow: none;
}
.ch-checkbox-input[type="checkbox"]:not(:disabled):not(
    [aria-disabled]
  ):focus-visible,
.ch-checkbox-input[type="checkbox"][aria-disabled="false"]:focus-visible {
  box-shadow: 0 0 0 4px #0096fa52;
}
.ch-checkbox-input[type="checkbox"]:not(:disabled):not(
    [aria-disabled]
  )[aria-invalid="true"],
.ch-checkbox-input[type="checkbox"][aria-disabled="false"][aria-invalid="true"] {
  box-shadow: 0 0 0 4px #ff2b0052;
}
.ch-checkbox-input[type="checkbox"]:not(:checked) {
  border-style: solid;
  border-width: 2px;
  border-color: var(--charcoal-text4);
}
.ch-checkbox-icon-hide {
  box-sizing: border-box;
  color: var(--charcoal-text5);
  visibility: hidden;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  top: -2px;
  left: -2px;
}
.ch-checkbox-text {
  color: var(--charcoal-text2);
  font-size: 14px;
  line-height: 20px;
}
.ch-checkbox-icon {
  box-sizing: border-box;
  color: var(--charcoal-text5);
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  top: -2px;
  left: -2px;
}
