.ch-modal-close {
  cursor: pointer;
  appearance: none;
  color: inherit;
  text-rendering: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  font: inherit;
  text-transform: none;
  background: 0 0;
  border-style: none;
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow: visible;
}
.ch-modal-close:disabled,
.ch-modal-close[aria-disabled]:not([aria-disabled="false"]) {
  cursor: default;
}
.ch-modal-close:focus {
  outline: none;
}
.ch-modal-close {
  user-select: none;
  color: var(--charcoal-text3);
  background-color: var(--charcoal-transparent);
  border-radius: 999999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  display: flex;
}
.ch-modal-close:not(:disabled):not([aria-disabled]):hover,
.ch-modal-close[aria-disabled="false"]:hover {
  background-color: var(--charcoal-transparent-hover);
}
.ch-modal-close:not(:disabled):not([aria-disabled]):active,
.ch-modal-close[aria-disabled="false"]:active {
  background-color: var(--charcoal-transparent-press);
}
.ch-modal-close:not(:disabled):not([aria-disabled]):focus,
.ch-modal-close[aria-disabled="false"]:focus {
  outline: none;
  box-shadow: 0 0 0 4px #0096fa52;
}
.ch-modal-close:not(:disabled):not([aria-disabled]):focus:not(:focus-visible),
.ch-modal-close[aria-disabled="false"]:focus:not(:focus-visible) {
  box-shadow: none;
}
.ch-modal-close:not(:disabled):not([aria-disabled]):focus-visible,
.ch-modal-close[aria-disabled="false"]:focus-visible {
  box-shadow: 0 0 0 4px #0096fa52;
}
.ch-modal-close:disabled,
.ch-modal-close[aria-disabled]:not([aria-disabled="false"]) {
  opacity: 0.32;
}
.ch-modal-dialog {
  background-color: var(--charcoal-surface1);
  border-radius: 24px;
  width: 440px;
  height: fit-content;
  margin: auto;
  position: relative;
}
@media (width<=743px) {
  .ch-modal-dialog {
    width: calc(100% - 48px);
    max-width: 440px;
  }
}
.ch-modal-dialog:focus {
  outline: none;
}
.ch-modal {
  z-index: 10;
  box-sizing: border-box;
  background-color: var(--charcoal-surface4);
  justify-content: center;
  width: -webkit-fill-available;
  height: 100%;
  padding: 40px 0;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}
.ch-modal-close {
  color: var(--charcoal-text3);
  transition: color 0.2s;
  position: absolute;
  top: 8px;
  right: 8px;
}
.ch-modal-close:not(:disabled):not([aria-disabled]):hover,
.ch-modal-close[aria-disabled="false"]:hover {
  color: var(--charcoal-text3-hover);
}
.ch-modal-close:not(:disabled):not([aria-disabled]):active,
.ch-modal-close[aria-disabled="false"]:active {
  color: var(--charcoal-text3-press);
}
.ch-modal-title {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}
.ch-modal-header {
  -webkit-box-pack: center;
  place-content: center;
  height: 64px;
  display: grid;
}
.ch-modal-title {
  color: var(--charcoal-text1);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: flow-root;
}
.ch-modal-title:before {
  content: "";
  width: 0;
  height: 0;
  margin-top: -4px;
  display: block;
}
.ch-modal-title:after {
  content: "";
  width: 0;
  height: 0;
  margin-bottom: -4px;
  display: block;
}
.ch-modal-align {
  padding-left: 16px;
  padding-right: 16px;
}
.ch-modal-body {
  padding-bottom: 40px;
}
