.ch-radio {
  cursor: pointer;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4px;
  display: grid;
}
.ch-radio:disabled,
.ch-radio[aria-disabled]:not([aria-disabled="false"]) {
  opacity: 0.32;
}
.ch-radio-input[type="radio"] {
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--charcoal-surface1);
  border-radius: 999999px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 6px;
  display: block;
  transition: all 0.2s !important;
}
.ch-radio-input[type="radio"]:hover:not(:disabled):not([aria-disabled]),
.ch-radio-input[type="radio"]:hover[aria-disabled="false"] {
  background-color: var(--charcoal-surface1-hover);
}
.ch-radio-input[type="radio"]:active:not(:disabled):not([aria-disabled]),
.ch-radio-input[type="radio"]:active[aria-disabled="false"] {
  background-color: var(--charcoal-surface1-press);
}
.ch-radio-input[type="radio"]:not(:checked) {
  border: 2px solid #858585;
}
.ch-radio-input[type="radio"]:checked {
  background-color: var(--charcoal-brand);
  transition: background-color 0.2s;
}
.ch-radio-input[type="radio"]:checked:hover:not(:disabled):not([aria-disabled]),
.ch-radio-input[type="radio"]:checked:hover[aria-disabled="false"] {
  background-color: var(--charcoal-brand-hover);
}
.ch-radio-input[type="radio"]:checked:active:not(:disabled):not(
    [aria-disabled]
  ),
.ch-radio-input[type="radio"]:checked:active[aria-disabled="false"] {
  background-color: var(--charcoal-brand-press);
}
.ch-radio-input[type="radio"]:checked:after {
  content: "";
  pointer-events: none;
  background-color: var(--charcoal-text5);
  border-radius: 999999px;
  width: 8px;
  height: 8px;
  transition: background-color 0.2s;
  display: block;
}
.ch-radio-input[type="radio"]:not(:disabled):not([aria-disabled]):focus,
.ch-radio-input[type="radio"][aria-disabled="false"]:focus,
.ch-radio-input[type="radio"]:not(:disabled):not([aria-disabled]):active,
.ch-radio-input[type="radio"][aria-disabled="false"]:active {
  outline: none;
  box-shadow: 0 0 0 4px #0096fa52;
}
.ch-radio-input[type="radio"]:not(:disabled):not([aria-disabled]):focus:not(
    :focus-visible
  ),
.ch-radio-input[type="radio"][aria-disabled="false"]:focus:not(:focus-visible),
.ch-radio-input[type="radio"]:not(:disabled):not([aria-disabled]):active:not(
    :focus-visible
  ),
.ch-radio-input[type="radio"][aria-disabled="false"]:active:not(
    :focus-visible
  ) {
  outline: none;
}
.ch-radio-input[type="radio"]:not(:disabled):not([aria-disabled]):focus-visible,
.ch-radio-input[type="radio"][aria-disabled="false"]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px #0096fa52;
}
.ch-radio-text {
  color: var(--charcoal-text2);
  font-size: 14px;
  line-height: 22px;
  display: flow-root;
}
.ch-radio-text:before {
  content: "";
  width: 0;
  height: 0;
  margin-top: -4px;
  display: block;
}
.ch-radio-text:after {
  content: "";
  width: 0;
  height: 0;
  margin-bottom: -4px;
  display: block;
}
.ch-radio-group {
  grid-template-columns: 1fr;
  gap: 8px;
  display: grid;
}
