.ch-textarea-label {
  color: var(--charcoal-text1);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  display: flow-root;
}
.ch-textarea-label:before {
  content: "";
  width: 0;
  height: 0;
  margin-top: -4px;
  display: block;
}
.ch-textarea-label:after {
  content: "";
  width: 0;
  height: 0;
  margin-bottom: -4px;
  display: block;
}
.ch-textarea-required {
  color: var(--charcoal-text2);
  font-size: 14px;
  line-height: 22px;
  display: flow-root;
}
.ch-textarea-required:before {
  content: "";
  width: 0;
  height: 0;
  margin-top: -4px;
  display: block;
}
.ch-textarea-required:after {
  content: "";
  width: 0;
  height: 0;
  margin-bottom: -4px;
  display: block;
}
.ch-textarea-sub-label {
  color: var(--charcoal-text3);
  font-size: 14px;
  line-height: 22px;
  transition:
    color 0.2s,
    box-shadow 0.2s;
  display: flow-root;
}
.ch-textarea-sub-label:before {
  content: "";
  width: 0;
  height: 0;
  margin-top: -4px;
  display: block;
}
.ch-textarea-sub-label:after {
  content: "";
  width: 0;
  height: 0;
  margin-bottom: -4px;
  display: block;
}
.ch-textarea-sub-label:not(:disabled):not([aria-disabled]):hover,
.ch-textarea-sub-label[aria-disabled="false"]:hover {
  color: var(--charcoal-text3-hover);
}
.ch-textarea-sub-label:not(:disabled):not([aria-disabled]):active,
.ch-textarea-sub-label[aria-disabled="false"]:active {
  color: var(--charcoal-text3-press);
}
.ch-textarea-sub-label:not(:disabled):not([aria-disabled]):active,
.ch-textarea-sub-label[aria-disabled="false"]:active,
.ch-textarea-sub-label:not(:disabled):not([aria-disabled]):focus,
.ch-textarea-sub-label[aria-disabled="false"]:focus,
.ch-textarea-sub-label:not(:disabled):not([aria-disabled]):focus-visible,
.ch-textarea-sub-label[aria-disabled="false"]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px #0096fa52;
}
.ch-textarea-label-container {
  align-items: center;
  display: inline-flex;
}
.ch-textarea-label-container > .ch-textarea-required {
  margin-left: 4px;
}
.ch-textarea-label-container > .ch-textarea-sub-label {
  margin-left: auto;
}
.ch-textarea-label-container {
  margin-bottom: 8px;
}
.ch-textarea-assistive-text {
  color: var(--charcoal-text2);
  margin-top: 4px;
  margin-bottom: -4px;
  font-size: 14px;
  line-height: 22px;
}
.ch-textarea {
  flex-direction: column;
  display: flex;
}
.ch-textarea-container {
  color: var(--charcoal-text2);
  background-color: var(--charcoal-surface3);
  border-radius: 4px;
  height: 128px;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  position: relative;
  overflow: hidden;
}
.ch-textarea-container:not([aria-disabled]):hover,
.ch-textarea-container [aria-disabled="false"]:hover {
  background-color: var(--charcoal-surface3-hover);
}
.ch-textarea-container:focus-within {
  outline: none;
  box-shadow: 0 0 0 4px #0096fa52;
}
.ch-textarea-textarea {
  resize: none;
  color: inherit;
  box-sizing: border-box;
  transform-origin: 0 0;
  appearance: none;
  background: 0 0;
  border: none;
  outline: none;
  width: 114.286%;
  height: 109.571px;
  padding: 10.2857px 9.14286px 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 25.1429px;
  transform: scale(0.875);
}
.ch-textarea-textarea::-webkit-input-placeholder {
  color: var(--charcoal-text3);
}
.ch-textarea-textarea::placeholder {
  color: var(--charcoal-text3);
}
.ch-textarea-count {
  color: var(--charcoal-text3);
  font-size: 14px;
  line-height: 22px;
  position: absolute;
  bottom: 9px;
  right: 8px;
}
.ch-textarea-assistive-text.invalid {
  color: var(--charcoal-assertive);
  margin-top: 4px;
  margin-bottom: -4px;
  font-size: 14px;
  line-height: 22px;
}
.ch-textarea-container.invalid {
  color: var(--charcoal-text2);
  background-color: var(--charcoal-surface3);
  border-radius: 4px;
  height: 128px;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 4px #ff2b0052;
}
.ch-textarea-container.invalid:not([aria-disabled]):hover,
.ch-textarea-container.invalid [aria-disabled="false"]:hover {
  background-color: var(--charcoal-surface3-hover);
}
.ch-textarea-container.invalid:focus-within {
  outline: none;
  box-shadow: 0 0 0 4px #ff2b0052;
}
