.ch-textfield-label {
  color: var(--charcoal-text1);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  display: flow-root;
}
.ch-textfield-label:before {
  content: "";
  width: 0;
  height: 0;
  margin-top: -4px;
  display: block;
}
.ch-textfield-label:after {
  content: "";
  width: 0;
  height: 0;
  margin-bottom: -4px;
  display: block;
}
.ch-textfield-required {
  color: var(--charcoal-text2);
  font-size: 14px;
  line-height: 22px;
  display: flow-root;
}
.ch-textfield-required:before {
  content: "";
  width: 0;
  height: 0;
  margin-top: -4px;
  display: block;
}
.ch-textfield-required:after {
  content: "";
  width: 0;
  height: 0;
  margin-bottom: -4px;
  display: block;
}
.ch-textfield-sub-label {
  color: var(--charcoal-text3);
  font-size: 14px;
  line-height: 22px;
  transition:
    color 0.2s,
    box-shadow 0.2s;
  display: flow-root;
}
.ch-textfield-sub-label:before {
  content: "";
  width: 0;
  height: 0;
  margin-top: -4px;
  display: block;
}
.ch-textfield-sub-label:after {
  content: "";
  width: 0;
  height: 0;
  margin-bottom: -4px;
  display: block;
}
.ch-textfield-sub-label:not(:disabled):not([aria-disabled]):hover,
.ch-textfield-sub-label[aria-disabled="false"]:hover {
  color: var(--charcoal-text3-hover);
}
.ch-textfield-sub-label:not(:disabled):not([aria-disabled]):active,
.ch-textfield-sub-label[aria-disabled="false"]:active {
  color: var(--charcoal-text3-press);
}
.ch-textfield-sub-label:not(:disabled):not([aria-disabled]):active,
.ch-textfield-sub-label[aria-disabled="false"]:active,
.ch-textfield-sub-label:not(:disabled):not([aria-disabled]):focus,
.ch-textfield-sub-label[aria-disabled="false"]:focus,
.ch-textfield-sub-label:not(:disabled):not([aria-disabled]):focus-visible,
.ch-textfield-sub-label[aria-disabled="false"]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px #0096fa52;
}
.ch-textfield-label-container {
  align-items: center;
  display: inline-flex;
}
.ch-textfield-label-container > .ch-textfield-required {
  margin-left: 4px;
}
.ch-textfield-label-container > .ch-textfield-sub-label {
  margin-left: auto;
}
.ch-textfield {
  flex-direction: column;
  display: flex;
}
.ch-textfield-label-container {
  margin-bottom: 8px;
}
.ch-textfield-input-container {
  color: var(--charcoal-text2);
  background-color: var(--charcoal-surface3);
  border-radius: 4px;
  grid-template-columns: 1fr;
  gap: 4px;
  height: 40px;
  padding: 0 8px;
  font-size: 14px;
  line-height: 22px;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  display: grid;
}
.ch-textfield-input-container:not(:disabled):not([aria-disabled]):hover,
.ch-textfield-input-container [aria-disabled="false"]:hover {
  background-color: var(--charcoal-surface3-hover);
}
.ch-textfield-input-container:focus-within {
  outline: none;
  box-shadow: 0 0 0 4px #0096fa52;
}
.ch-textfield-input {
  box-sizing: border-box;
  transform-origin: 0 0;
  appearance: none;
  color: var(--charcoal-text2);
  background: 0 0;
  border: none;
  border-radius: 4.57143px;
  outline: none;
  width: 114.286%;
  height: 114.286%;
  padding-left: 0;
  padding-right: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 25.1429px;
  transform: scale(0.875);
}
.ch-textfield-input::-webkit-input-placeholder {
  color: var(--charcoal-text3);
}
.ch-textfield-input::placeholder {
  color: var(--charcoal-text3);
}
.ch-textfield-assistive-text {
  color: var(--charcoal-text2);
  margin-top: 4px;
  margin-bottom: -4px;
  font-size: 14px;
  line-height: 22px;
}
.ch-textfield-input-container.invalid {
  color: var(--charcoal-text2);
  background-color: var(--charcoal-surface3);
  border-radius: 4px;
  grid-template-columns: 1fr;
  gap: 4px;
  height: 40px;
  padding: 0 8px;
  font-size: 14px;
  line-height: 22px;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  display: grid;
  box-shadow: 0 0 0 4px #ff2b0052;
}
.ch-textfield-input-container.invalid:not(:disabled):not([aria-disabled]):hover,
.ch-textfield-input-container.invalid [aria-disabled="false"]:hover {
  background-color: var(--charcoal-surface3-hover);
}
.ch-textfield-input-container.invalid:focus-within {
  outline: none;
  box-shadow: 0 0 0 4px #ff2b0052;
}
.ch-textfield-assistive-text.invalid {
  color: var(--charcoal-assertive);
  margin-top: 4px;
  margin-bottom: -4px;
  font-size: 14px;
  line-height: 22px;
}
